body {
    margin: 0px;
}
#score {
    position: fixed;
    color: white;
    background-color:rgba(17, 17, 17, 0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
}